<div id="<%= dom_id product %>">
  <div style = "display: flex; justify-content: space-between; margin: 0em 3em;">
    <strong>Name:</strong>
    <% if @link_show %>
      <%= link_to product.name, product %>
    <% else %>
      <%= product.name %>
    <% end %>

    <strong>Description:</strong>
    <%= product.description %>

    <strong>Category:</strong>
    <%= link_to product.category.name, product.category %>

    <strong>Subcategory:</strong>
    <%= link_to product.subcategory.name, product.subcategory %>

    <strong>Price:</strong>
    <%= product.price %>

    <%= form_with(url: cart_add_path) do |f| %>
      <%= f.hidden_field :id, value: product.id %>
      <%= f.number_field :quantity, value: 0, min: 1 %>
      <%= f.submit "Add to cart" %>
    <% end %>
    
  </div>
</div>
