<p style="color: green"><%= notice %></p>
<p>
    <h1><%= link_to "Categories:", categories_path %></h1>
    <% @categories.each do |category| %>
      <p>
        <%= link_to category.name, category %>
      </p>
    <% end %>
  </p>

<h1>Products:</h1>

<div id="products">
  <% @products.each do |product| %>
    <%= render product %>
  <% end %>
</div>

<%= link_to "New product", new_product_path %>
